[push]
	default = simple
[user]
	name = Jimmy Ngu
	email = jimmynguyc@gmail.com
[alias]
	co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
	cp = cherry-pick
  d = diff
  dc = diff --cached
  p = pull
  pr = pull --rebase
  main-branch = "! git remote show origin | grep 'HEAD branch' | awk '{print $3}'"
  prom = "! git pull --rebase origin $(git main-branch)"
  mt = mergetool
  rc = rebase --continue
[merge]
	tool = opendiff
[mergetool]
	keepBackup = false
[http "https://git.demo.localflynn.com"]
	sslCAInfo = /Users/jimmy/.flynn/ca-certs/demo-virtualbox.pem
[credential "https://git.demo.localflynn.com"]
	helper = /usr/local/bin/flynn git-credentials
[core]
	excludesfile = /Users/jimmy/.gitignore_global
	autocrlf = false
[pull]
	ff = only
[init]
	defaultBranch = master
[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/
[url "git@github.com:"]
	insteadOf = https://github.com/
[commit]
	verbose = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
